<nav class="blue-grey darken-2">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">COVID-19 </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a href="/country">Country Wise</a>
            </li>
            <li>
                <a href="/history">Historic Data</a>
            </li>
        </ul>
    </div>
</nav>







