<%- include('./includes/head.ejs');%>
<body>
    <main>
        <%- include('./includes/navigation.ejs');%>
        <div class="container">
            <h4 class="center">Page Not Found</h4>
        </div>
<%- include('./includes/footer.ejs');%>